.form{
    display: grid;
    place-items: center;
    padding-bottom: 100px;
}

.form h1{
    width: 55%;
    text-align: center;
    font-family: 'Staatliches', recursive;
    font-size: 4rem;
    padding: 45px 0 20px 0;
}

.form form{
    width: 49rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form form div{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.form form div:nth-child(1){
    width: 50%;
}

.form form div:nth-child(2){
    width: 50%;
}

.form form div:nth-child(3){
    width: 100%;
}

.form form div:nth-child(4){
    width: 100%;
}

.form form textarea{
    width: 100%;
    border: 1px solid #02012085;
    font-weight: 600;
}

.form form label{
    font-size: 2rem;
    font-weight: 700;
    color: #02012085;
}

.form form input{
    height: 40px;
    font-weight: 600;
    border: 1px solid #02012085;
}

.form form div:nth-child(5){
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.form form div:nth-child(5) button{
    background: #ffbc0e;
    padding: 5px 15px;
    color: #020120;
    font-weight: 800;
    border: none;
    transition: .3s;
}

.form form div:nth-child(5) button:hover{
    background-color: #020120;
    color: #eceff1;
}

@media (max-width: 768px) and (min-width: 576px){

    .form h1{
        width: 100%;
    }

    .form form input{
        width: 100%;
    }

    .form form button{
        width: 100%;
    }
}

@media (max-width: 575px) and (min-width: 0){

    .form form{
        width: 100%;
    }

    .form h1{
        width: 100%;
    }

    .form form input{
        width: 100%;
    }

    .form form button{
        width: 100%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 0){
    .form form div:nth-child(1){
        width: 100%;
    }
    
    .form form div:nth-child(2){
        width: 100%;
    }
}